html,body { margin: 0; padding: 0; font-family: "Arial"; font-size: 14pt; width: 100%; height: 100%; }

body {
    background: rgb(252,234,187); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 90%, rgba(248,181,0,1) 90%, rgba(251,223,147,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(90%,rgba(252,205,77,1)), color-stop(90%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 90%,rgba(248,181,0,1) 90%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 90%,rgba(248,181,0,1) 90%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 90%,rgba(248,181,0,1) 90%,rgba(251,223,147,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 90%,rgba(248,181,0,1) 90%,rgba(251,223,147,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

#main {
    min-width: 940px;
    min-height: 550px;    
}

a {
    color: black;
    font-size: 105%;
}

#share {
    float: left;
}

#stripes {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background: url(/images/bg.png);
    opacity: 0.03;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
    /* IE 5-7 */
    filter: alpha(opacity=3);
    /* Netscape */
    -moz-opacity: 0.03;
    /* Safari 1.x */
    -khtml-opacity: 0.03;
}

input, select {
    font-family: inherit;
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em;
    border: 1px solid gray;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

select {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#selector {
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    width: 600px;
    height: 40px;
    padding: 1em 2em 1em 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -300px;
    box-shadow: 5px 5px 3px rgb(0,0,0);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);    
}

#calculator {
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    width: 600px;
    height: 180px;
    padding: 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -300px;
    box-shadow: 5px 5px 3px rgb(0,0,0);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
}

#header {
    background: url(/images/bulb.png) 0 0 no-repeat;
    height: 128px;
    padding-left: 130px;
    padding-top: 40px;
    margin: 0.3em;
    position: absolute;
    top: 0;
    left: 0;
}

#title {
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-style: italic;
    font-size: 36pt;
    color: rgba(0,0,0,0.7);
    padding-bottom: 5px;
    text-shadow: -1px -1px 0px white;
    float: left;    
}

#footer {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 400px;
    height: 50px;
    margin-left: -410px;
    margin-top: -50px;
    text-align: right;
    font-size: 60%;
    color: rgb(0,0,0);
    color: rgba(0,0,0,0.6);
}

.changeable { width: 120px; text-align: right; }
.labels {
    text-align: center;
    padding: 0.2em;
    margin: 0.1em;
    width: 2em;
    vertical-align: middle;
}
.price {
    color: gray;
    font-size: 24pt;
    text-align: right;
    padding: 0.2em;
    margin: 0.1em; 
    width: 2em; }
.res { 
    font-size: 24pt;
    text-align: right;
    padding: 0.2em;
    margin: 0.1em; 
    width: 4em; }
.prev { font-size: 24pt; }
.current { font-size: 24pt; }

.desc { font-size: 120%; }
.label { font-size: 80%; color: gray; }

.left { float: left; }
.small { font-size: 12px; }
.clear { clear: both; }
.calcline { display: none; }
#error { 
    display: none;
    position: absolute;
    top: 50%;
    left: 40px;
    width: 220px;
    height: 150px;
    padding: 20px;
    margin-top: -150px;
    color: white;
    background: #D82D1E;
}
